EXPO_PUBLIC_SUPABASE_URL=https://yiilubsznpyiswpvqyhy.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlpaWx1YnN6bnB5aXN3cHZxeWh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc3NzMyOTAsImV4cCI6MjA4MzM0OTI5MH0.Z27VXjmJFaoxSrRM-sIx2W9RU8pxBFa3CKlrfXoq0WM
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key_here
EXPO_PUBLIC_REVENUECAT_API_KEY=test_YMJujZZTdicNeGdGWKFAfnpwDiB
